.item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px 0;
}

.link {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 16px;
  min-width: 0;
}

.thumb {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  border-radius: var(--radius-l);
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
}

.title {
  overflow: hidden;
  color: var(--grey900);
  font-size: var(--t5);
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.author {
  color: var(--grey500);
  font-size: var(--t7);
  font-weight: 500;
}
